# Explicitly define instead of using the directory to generate the container name
COMPOSE_PROJECT_NAME=montreal-elixir-platform
# Uncomment if developing on MacOS
# COMPOSE_FILE=docker-compose.yml:docker-compose-mac.yml
