<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Montreal Elixir</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>"/>
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel='stylesheet' type='text/css'>
    </head>
    <body>
      <div class="loader">
        <div class="strip-holder">
        <div class="strip-1"></div>
        <div class="strip-2"></div>
        <div class="strip-3"></div>
        </div>
      </div>

      <a id="top"></a>

      <div class="nav-container">
      </div>

      <%= render @view_module, @view_template, assigns %>

      <div class="footer-container">
        <footer class="classic">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <ul class="menu">
                  <li><a href="https://elixir-lang.org">Elixir Lang</a></li>
                  <li><a href="https://phoenixframework.org">Phoenix Framework</a></li>
                  <li><a href="https://nerves-project.org">Nerves Project</a></li>
                  <li><a class="inner-link back-to-top" href="#top">Back To Top</a></li>
                </ul>
              </div>

              <div class="col-sm-5">
                <span class="lead color-heading">About Montreal Elixir</span>
                <p>Montreal's community for Elixir, a dynamic, functional language designed for building scalable and maintainable applications.</p>
              </div>

              <div class="col-sm-4">
                <ul class="contact-methods">
                  <li><a href="https://www.google.com/maps/place/Montreal,+QC/@45.5581968,-73.8703863,11z/data=!3m1!4b1!4m5!3m4!1s0x4cc91a541c64b70d:0x654e3138211fefef!8m2!3d45.5016889!4d-73.567256"><i class="icon pe-7s-map-marker"></i></a><span>Montreal, QC</span></li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 text-center">
                <ul class="social-profiles">
                  <li><a href="https://twitter.com/montrealelixir"><i class="icon social_twitter"></i></a></li>
                  <li><a href="https://www.youtube.com/channel/UCftyx5k7K_0a3wIGRtE2YQw"><i class="icon social_youtube icon-large"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>
