import Mix.Config

###############################################################################
# MontrealElixir
###############################################################################

config :montreal_elixir, MontrealElixir.Repo,
  database: "montreal_elixir_dev",
  hostname: "db",
  username: "postgres"
