use Mix.Config

# Create your app here: https://apps.twitter.com/ to have the key, secret and tokens

config :extwitter, :oauth, [
   consumer_key: "???",
   consumer_secret: "???",
   access_token: "???",
   access_token_secret: "???"
]

config :social_feeds, :youtube_api_client,
  api_key: "???"
