import Mix.Config

###############################################################################
# MontrealElixir
###############################################################################

config :montreal_elixir, MontrealElixir.Repo,
  database: "montreal_elixir_dev",
  hostname: "db",
  username: "postgres"

###############################################################################
# SocialFeeds
###############################################################################

config :social_feeds, :youtube_api_client,
  api_key: "YOUTUBE_API_KEY"

###############################################################################
# Twitter
###############################################################################

config :extwitter, :oauth,
  access_token: "TWITTER_ACCESS_TOKEN",
  access_token_secret: "TWITTER_ACCESS_TOKEN_SECRET",
  consumer_key: "TWITTER_CONSUMER_KEY",
  consumer_secret: "TWITTER_CONSUMER_SECRET"
