/* This file is for your main application css. */

@import "../vendor/theme/css/bootstrap.min.css";
@import "../vendor/theme/css/flexslider.min.css";
@import "../vendor/theme/css/elegant-icons.min.css";
@import "../vendor/theme/css/pe-icon-7-stroke.min.css";
@import "../vendor/theme/css/lightbox.min.css";
@import "../vendor/theme/css/theme-debbie.css";

#tweets-container ul li {
  margin-bottom: 35px;
}

section.color-blocks p a {
  color: white !important;
  border: none !important;
}

section.color-blocks p a:hover {
  text-decoration: underline;
}

#about-website ul {
  list-style: disc;
  margin-left: 20px;

}

#about-website a {
  color: #428bca !important;
  border: none !important;
  font-weight: normal;
}
