/* This file is for your main application css. */

#tweets-container ul li i {
  color: #aaa;
  font-style: normal;
  font-size: 0.8em;
  text-transform: uppercase;
}

#tweets-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@import "../vendor/theme/css/bootstrap.min.css";
@import "../vendor/theme/css/flexslider.min.css";
@import "../vendor/theme/css/elegant-icons.min.css";
@import "../vendor/theme/css/pe-icon-7-stroke.min.css";
@import "../vendor/theme/css/lightbox.min.css";
@import "../vendor/theme/css/theme-debbie.css";

#tweets-container ul li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  padding-left: 24px;
  background: url('/images/twitter-li.png') no-repeat left 4px;
}
